<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File</label>
        <input type="file" id="file" name="file" required>
        <button type="submit">Share</button>
    </form>
    <% if(locals.fileLink != null){%>
        <div>
            file uploaded:
            <a id="yo" href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
    <%}%>

    <div>
        <button onclick="genQR()">get qr</button>
        <img src="" alt="" id="qrimage">

    </div>
    <script>
        let qrimage = document.getElementById("qrimage");

        function genQR(){
            qrimage.src = " https://api.qrserver.com/v1/create-qr-code/?size=150x150&data="+  yo.href
        }
    </script>
</body>
</html>